<section class="content">
    <h1>dokumen List</h1>
  <div class="py-3">
    <a class="btn btn-primary" href="/dokumen/create">Add Doc</a>
  </div>
    <table class="table table-hover">
      <tr>
        <th>No</th>
        <th>nama</th>
        <th>nama file</th>
        <th>description</th>
        <th>Action</th>
      </tr>
      <% data.forEach(function(document) { %>
        <tr>
            <tr>
                <td><%= document.document_id%></td>
                <td><%= document.name %></td>
                <td><%= document.filename %></td>
                <td><%= document.description %></td>
       <td>
            <a href="./<%= document.document_id %>"  type="button" class="btn btn-primary">Edit</a>
            <form action="/dokumen/<%= document.document_id %>/delete" method="post" >
                <button  type="submit" class="btn btn-danger" >delete </button>
            </form>
          </td>
        </tr>
      <% }); %>
    </table>
</section>